.toolbar {
  display: flex;
  justify-content: center;
  background-color: #bdbdbd;
}

.logo {
  background-color: red;
}

.carousel-status {
  display: none;
}

.thumbs-wrapper.axis-vertical {
  display: none;
}

.control-arrow.control-prev:active {
  background-color: transparent;
}
